.generic-content-container {
    p {
        line-height: 1.3;
        margin: 1.8rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
            line-height: 1.65;
        }
    }

    p a {
        font-weight: 700;

    }
}